a:link {text-decoration:none; color: #003399}
a:hover {text-decoration:underline; color:#990000}
body {background-color:#ffffff}

.active {font-weight:bold}
.inactive {color:gray}

.header {font-weight:bold; color:#990000}
.section {margin:10px; max-width:1024px}
.mainsection {margin:10px; max-width:1224px}

td {padding:3px}
td div {padding:7px}

li {margin:6px}
ul {list-style: square}

html { font-family: "Times" }
